:root {
/*    colors: https://coolors.co/1a1f16-1e3f20-345830-4a7856-94ecbe*/
/*    color: https://coolors.co/efd0ca-c1bcac-979b8d-5c7457-214e34*/
    --main-text-color: #1A1F16;
    --color-primary-one: #1E3F20;
    --color-secondary: #345830;
    --color-third: #4A7856;
    --color-highlight: #94ECBE;
    
    --color-pale-pink: #EFD0CA;
    --color-pale-silver: #C1BCAC;
    --color-artichoke: #979B8D;
    --color-fern-green: #0d5323;
    --color-british-racing-green: #214E34;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: var(--main-text-color);
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

nav {
    background-color: var(--color-primary-one);
/*    background-color: #287000;*/
}

.all-body-content-except-footer {
    position: relative;
    z-index: 100;
    background: #fff;
    margin-bottom: 500px;
    overflow: hidden;
}

.pre-animated {
    opacity: 0;
}

.animated {
    opacity: 1;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

.row {
    max-width: 1140px; 
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 180%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 30px;
}

h2::after {
    display: block;
    background-color: var(--color-primary-one);
    content: " ";
    height: 2px;
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.section-customer-reviews h2::after {
    background-color: var(--color-highlight);
}

h3, h5 {
    font-weight: 400;
}

.link-icon {
    font-size: 100%;
    color: #5c9d4f;
}

.header-description {
    margin-bottom: 30px;
    line-height: 145%;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */
.nav-flex-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
}

.logo-holder {
    background-image: url(img/logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    -ms-flex-preferred-size: 15%;
    flex-basis: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 90px;
    width: auto;
    margin-left: 5%;
}

.main-nav {
    list-style: none;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 5%;
    margin-right: 5%;
}

.js--nav-icon {
    display: none;
}

.mobile-nav {
    display: none;
}

.main-nav ion-icon {
    font-size: 32px;
    color: white;
}

.main-nav li {
    display: inline-block;
    margin-left: 5%;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid var(--color-highlight);
}

/* ----------------------------------------------- */
/* CAROUSEL */
/* ----------------------------------------------- */
/* Slideshow container */
.slideshow-container {
    width: 100%;
    text-align: center;
    position: relative;
}

.mySlides {
    display: none;
}

.dots {
    position: absolute;
    top: 90%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: white;
}

.mySlides img {
    vertical-align: middle;
    height: 65%;
    width: 100%;
/*    width: 1140px;*/
    -o-object-fit: cover;
    object-fit: cover;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 10 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
}

.active {
    background-color: var(--color-highlight);
/*    background-color: var(--color-primary-one);*/
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* ----------------------------------------------- */
/* PROMISES */
/* ----------------------------------------------- */
.promises-flex-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.promise-icon {
    color: black;
    font-size: 64px;
    -ms-flex-item-align: center;
    align-self: center;
}

.promise-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
/*    flex: 1;*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2% 3%;
    min-width: 350px;
/*    max-width: 420px;*/
/*    max-height: 412px;*/
/*    min-width: 24%;*/
}

.promise-box h3 {
    padding-top: 2px;
}

.promise-box .content {
    font-size: 85%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    line-height: 150%;
    padding-top: 22px;
    letter-spacing: 1px;
    word-spacing: 0.5px;
}

.promise-box a:link,
.promise-box a:visited {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 7%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    text-decoration: none;
    text-transform: uppercase;
    background: white;
    padding: 16px 40px;
    font-size: 70%;
    letter-spacing: 1px;
    word-spacing: 5px;
    font-weight: 400;
    color: #5c9d4f;
    border-radius: 4px;
}

.promise-box a:hover,
.promise-box a:active {
    background-color: var(--color-primary-one);
    color: white;
}

.promise-box a:hover ion-icon,
.promise-box a:active ion-icon {
    background-color: var(--color-primary-one);
    color: white;
}

.promise-title {
    padding-top: 16px;
    font-size: 80%;
}

.promise-visit {
    background-color: #F4F1EE;
}

.promise-times {
    background-color: #E4E0DB;
}

.promise-guarantee {
    background-color: #BCE6CD;
}

.promise-promise {
    background-color: #84BB9D;
/*    background-color: #7BB495;*/
}

/* ----------------------------------------------- */
/* ALL UNDER ONE ROOF */
/* ----------------------------------------------- */
.countries-flex-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.countries-image {
    min-height: 600px;
    background-image: url(img/spices.jpeg);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.countries-flags {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fafafa;
/*    background-color: #f7f5f2;*/
    padding: 0.5% 6%;
    overflow: hidden;
    min-width: 350px;
    min-height: 450px;
}

.countries-flags .flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.second {
    padding-top: 25px;
}

.countries-flags .country {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 15px;
}

.countries-flags h3 {
    padding-top: 21px;
    text-align: center;
}

.countries-flags .copy {
    line-height: 150%;
    letter-spacing: 0.5px;
    margin-top: 15px;
    text-align: center;
}

.country-icon {
    width: 64px;
    -ms-flex-item-align: center;
    align-self: center;
}

/* ----------------------------------------------- */
/* CUSTOMER REVIEWS */
/* ----------------------------------------------- */
.section-customer-reviews {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(img/customer-review-bg.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/customer-review-bg.jpeg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

.customer-review-box-container {
    padding-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    -ms-flex-line-pack: center;
    align-content: center;
}

.customer-review-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
    min-width: 275px;
    padding: 2.6% 4.4%;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    margin: 4% 0px;
    border-radius: 3px;
    color: var(--main-text-color);
}

.customer-review-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 25px;
}

.customer-review-box p {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    line-height: 150%;
    letter-spacing: 0.5px;
    font-size: 90%;
}

.customer-review-author img {
    height: 85px;
    width: 85px;
    border-radius: 100%;
    margin-right: 25px;
}

/* ----------------------------------------------- */
/* NEWSLETTER SIGN UP */
/* ----------------------------------------------- */
.section-newsletter {
    padding: 24px 0px;
    background-color: #39815c;
/*    background-color: #5c9d4f;*/
/*    background-color: #8db838;*/
}

.section-newsletter-flex-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 200px;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.newsletter-image-holder {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 50px;
}

.newsletter-image-holder ion-icon {
    font-size: 600%;
    color: white;
}

.newsletter-content-holder {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: white;
}

.newsletter-content-holder h3 {
    font-size: 160%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 16px;
}

.newsletter-content-holder p {
    width: 60%;
    margin-bottom: 25px;
}

.form-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 60%;
}

input[type=text], select, textarea {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: vertical;
    font-size: 18px;
    color: var(--main-text-color);
    margin-right: 10px;
}

input[type=submit] {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--color-primary-one);
/*  background-color: #45a049;*/
}

/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */
.footer {
    width: 100%;
    background: #000 url();
    position: fixed;
    bottom: 0;
    z-index: -1;
    color: white;
}

.section-footer-content {
    background-color: #363636;
    color: #a4a4a4;
}

.footer-flex-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
/*    flex-wrap: wrap;*/
}

.footer-column {
/*    min-width: 225px;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    font-size: 16px;
}

.footer-column span {
    padding-bottom: 15px;
}

.footer-column h3 {
    font-size: 120%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: white;
    margin-bottom: 15px;
}

.footer-column a {
    text-decoration: none;
    color: #a4a4a4;
}

.footer-column a:hover,
.footer-column a:active {
    color: var(--color-highlight);
    cursor: pointer;
}

.double-column-flex-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.double-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.footer-column-item-flex-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
/*    align-items: center;*/
}

.footer-column ion-icon {
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

/*
.footer-column ion-icon:hover,
.footer-column ion-icon:active {
    color: var(--color-highlight);
}
*/

.section-credits {
    padding: 20px 0px;
    background-color: #2A2A2A;
    color: #808285;
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
}

.section-credits .icon-pack {
    font-size: 10px;
    line-height: 22px;
    margin-top: 10px;
}

.icon-pack a {
    text-decoration: none;
    color: inherit;
}

/* ----------------------------------------------- */
/* MEDIA-QUERIES */
/* ----------------------------------------------- */

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    html,
    body {
        font-size: 18px;
    }
    
    h2 {
        font-size: 160%;
        margin-bottom: 30px;
    }
    
    .js--nav-icon {
        display: inherit;
    }
      
    .regular-nav li {
        display: none;
    }
    
    .mobile-nav {
        display: none;
    }
    
    .mobile-nav-flex-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 22px 10px;
    }
    
    .mobile-nav-flex-box li {
        font-size: 120%;
        margin-bottom: 22px;
    }
}

@media only screen and (max-width: 999px) {
    .customer-review-box-container {
        margin: 0% 5%;
        padding-top: 25px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .customer-review-box {
        margin: 12px 0px;
        max-width: 340px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
}

@media only screen and (max-width: 799px) {
    .all-body-content-except-footer {
        position: relative;
        z-index: 0;
        margin-bottom: 0px;
    }
    
    .footer {
        position: relative;
        bottom: 0;
        z-index: 0;
    }
    
    .footer-flex-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    
    .footer-column {
        padding: 12px 40px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    .customer-review-box {
        padding: 30px 25px;
    }
    
    .countries-flags {
        padding: 20px 30px;
    }
}

@media only screen and (max-width: 699px) {
    .promise-box {
        padding: 5% 10%;
    }
    
    .countries-image {
        min-height: 450px;
    }
    
    .section-newsletter-flex-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: inherit;
    }
    
    .newsletter-image-holder {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-right: 0px;
    }

    .newsletter-image-holder ion-icon {
        font-size: 400%;
    }

    .newsletter-content-holder {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 75%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-item-align: center;
        align-self: center;
        margin-top: 12px;
    }
    
    .newsletter-content-holder p {
        width: 100%;
        margin-bottom: 25px;
    }
    
    .form-holder {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }
    
    input[type=text], select, textarea {
        margin-right: 0px;
        margin-bottom: 15px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    
    input[type=submit] {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    h2 {
        font-size: 140%;
        margin-bottom: 30px;
    }
    
    h2::after {
        height: 2px;
        width: 100px;
        margin: 0 auto;
        margin-top: 30px;
    }
    
    .header-description {
        margin-bottom: 15px;
    }

    section {
        padding: 40px 0;
    }
    
    .promises-flex-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    
    .promise-box {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    
    .countries-flex-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    
/*
    .countries-flags {
        padding: 20px 10px;
    }
*/
    
    .countries-flags h3 {
        padding-top: 10px;
    }

    .countries-flags .copy {
        margin-top: 7px;
    }
    
    .country-icon {
        width: 40px;
    }
    
    .second {
        padding-top: 20px;
    }
    
    .customer-review-box-container {
        padding-top: 25px;
    }
    
    .customer-review-box {
        margin: 12px 0px;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    
    .customer-review-author img {
        height: 60px;
        width: 60px;
        margin-right: 12px;
    }
}